/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&family=Pirata+One&family=Roboto&family=Rowdies:wght@300;400;700&family=Squada+One&family=Vina+Sans&display=swap');

/*CREDITS
<a href="https://www.freepik.com/free-ai-image/3d-rendering-abstract-black-white-background_75957971.htm#fromView=search&term=infinite&track=ais_ai_generated&regularType=ai&page=5&position=22&uuid=00297804-a0fe-4b40-b53b-c56fec93f20d">Image By freepik</a>
Video by <a href="https://pixabay.com/users/engin_akyurt-3656355/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=22098">Engin Akyurt</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=22098">Pixabay</a>
Video by <a href="https://pixabay.com/users/nasa-imagery-10/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=5">NASA-Imagery</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=5">Pixabay</a>
Video by <a href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=6044">Tomislav Jakupec</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=6044">Pixabay</a>
*/


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    background: url('../images/body-bck.jpg') no-repeat center center/cover;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*main*/


#main {
    margin: 0;
    padding: 0;
    background-color: #d20f0f;
    display: flex;
    flex: 1;
    min-height: 100vh;

}

.hs-icon {
    height: 120px;
    width: 120px;
}

#resaponsive-main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 1028px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}


/*HEADER*/

header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: white;
    background-color: rgba(243, 244, 247, 1);

}

.title {
    font-family: 'Lilita One', sans-serif;
    font-size: 2.5rem;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 15, 54, 0.9);
    margin: 5px 10px;
    font-family: 'Oswald';
    font-weight: 600;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
}

#score-board-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border: 3px solid #ccc;
    background-color: rgba(244, 245, 240, 0.8);
    /* Adjust the RGBA values and alpha as needed */
    position: relative;
    /* Add this line to make the video absolute positioned within this container */
    overflow: hidden;
    /* Hide overflow to ensure the video doesn't extend beyond the container */
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#score-board-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#color-scoreboard-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score-screen-number-div {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 3px solid gold;
    background-color: silver;
    border-radius: 50%;


}

#answer-text {
    padding: 5px;
    background-color: rgb(2, 158, 2);
    color: white;
    font-family: 'Acme', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.score-text {
    padding: 5px;
    color: white;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    padding: 5px;
    font-size: 1.5rem;


    transform: translateZ(-100px);
    transition: transform 0.5s ease-in-out;
}

/* SOUND CONTROL AND QUIT&SAVE*/
/*sound*/

#sound-control .dropdown-content {
    display: none;
    margin-top: 35px;
    margin-right: 40px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: rgba(15, 57, 162, 0.3);
    padding: 2px;
    color: white;
}

#double-or-nothing {
    width: 100%;
    height: 350px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin: 10px;
    color: white;
    min-height: 90px;
    font-weight: 600;
    font-size: 2rem;
}

#sound-control .dropdown-content button {
    display: block;

    text-align: left;
}

#sound-control.active .dropdown-content {
    display: block;
}

#sound-control {
    justify-content: center;
    align-self: flex-end;
    margin-top: 5px;
    display: flex;
    width: 20%;
    flex-direction: row;

}

#sound {
    justify-content: center;
    align-self: center;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.s-controi-title {
    background-color: rgba(0, 94, 255, 0.9);
    border: 1px solid gold;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
}

#music-on-off i {

    font-size: 1rem;
    color: red;

}

#sound-on-off {

    margin: 5px 0px
}

#sound-on-off i {

    font-size: 1rem;
    color: red;

}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.dropdown button {
    color: #3498db;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    border-radius: 2px solid #333;
}

.theme-link {
    margin-right: 10px;
    text-decoration: none;

}

/* Add styles for the 'active' class */
.theme-link.active {
    color: white;
    /* Adjust the color as needed */
}

/*dropdown styles*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;


}

.theme-div {
    background-color: rgba(255, 0, 0, 0.4);

}

.dropdown button {
    color: #3498db;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    border-radius: 2px solid #333;

}

.dropdown-content a {
    color: white;
    font-weight: 600;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*PLAYGROUND SECTION*/
#playground-section {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 100%;
    margin: 0px;
    padding: 5px;
    position: relative;
    background: url('../images/main-default-background.jpg') no-repeat center center/cover;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    display: none;
    display: flex;
    align-self: center;
}

.higher-lower-title {
    font-weight: 800;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 25px;
    border: 2px solid gold;
    color: white;
}

#guessing-number-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px 10px;
    height: 120px;
    width: 120px;
    border: 3px solid gold;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 16px rgba(237, 232, 232, 0.5);
    border-radius: 50%;
    overflow: hidden;
    animation: moveAnimation 8s infinite linear alternate;
}

.guessing-number-text {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

#buttons-container-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
    border: 3px solid gold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
}

#minus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid gainsboro;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(241, 5, 5);
    color: rgb(244, 244, 244);
    font-size: 1.5rem;
    cursor: pointer;

}

#plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid gainsboro;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(2, 158, 2);
    color: rgb(244, 244, 244);
    font-size: 1.5rem;
    cursor: pointer;
}




/* CHallenge screen*/

#challenge-screen-section {
    background: url('../images/default-challenge-screen.jpg') no-repeat center center/cover;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 1028px;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    z-index: 1;
}

#flex-challange-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


#confirmation-section {
    background: url('../images/conf-sect-bck.jpg') no-repeat center center/cover;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 1028px;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    z-index: 1;
}

#confirmation-contianer-div {
    flex: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#confirmation-contianer-div p {
    font-weight: 600;
    font-size: 2rem;
    margin: 20px 10px;
    color: white;
    padding: 28px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: rgba(214, 8, 101, 0.7);
    border-radius: 15px;
}

#confirmation-section h2 {
    background-color: #fff;
    padding: 5px;
    border-radius: 25px;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    text-align: center;
    margin: 10px 5px;
    background-color: rgba(214, 8, 101, 0.8);

}

#challenge {
    background: url('../images/challenge-default.jpg') no-repeat center center/cover;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 1028px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    opacity: 1;
    z-index: 1;
}

#challenge h2 {
    animation: moveAnimationTitle 2s infinite linear alternate;
    background-color: rgba(237, 3, 3, 0.3);
    padding: 20px;
    font-size: 2rem;
    border-radius: 25px;
    border: 1px solid white;
    z-index: 1;
    margin: 15px;
    margin-top: 25px;
    color: white;
    text-align: center;
}

#number-container-challenege {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 200px;
}

.number-container-class {
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
    border-radius: 15px;
    font-size: 2rem;
}

#option-one-number {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 3rem;
    color: white;
    display: none;
}

#option-two-number {
    display: none;
    padding: 10px;

    border-radius: 15px;
    border: 2px solid white;
    font-size: 3rem;
    color: white;
}

#challenge-score-display {
    background: url('../images/chall-screen-bck.jpg') no-repeat center center/cover;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 1028px;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    z-index: 1;

}

#score-display-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

#score-display-container h4 {
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid white;
    margin: 5px;
    margin-top: 25px;
    background-color: rgba(0, 15, 54, 0.9);
}

#final-chalange-score {
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid white;
    margin: 5px;
    margin-top: 25px;
}

#challenge-button-close {
    cursor: pointer;
    background-color: rgba(0, 15, 54, 0.9);
    color: white;
    font-size: 20px;
    border-radius: 7px;
    top: 10px;
    border: 2px solid white;
    padding: 15px 35px;
}

/*Bonus section*/
#bonus-screen-section {
    background: url('../images/bonus-def-bck.jpg') no-repeat center center/cover;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 1028px;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    z-index: 1;


}

#flex-bonus-container {
    flex: 1;
    width: 100%;
    height: 100%;
    /* Use the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* Center items horizontally */
    text-align: center;

}

#exit-turbo-section {
    background: url('../images/exit-turbo-instruction-bck.jpg') no-repeat center center/cover;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 1028px;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    z-index: 1;

}


#exit-turbo-section div h5 {
    padding: 10px;
    background-color: rgba(95, 34, 1, 0.9);
    border-radius: 15px;
    border: 2px solid white;
    font-size: 1rem;

}

#exit-turbo-section div h2 {
    padding: 30px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: rgba(95, 34, 1, 0.9);


}

.turbo-score-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

}

#title-bonus-container {
    margin: 25px;
    font-family: 'Cabin';
    border: 2px solid white;

    background-color: rgba(15, 57, 162, 0.5);
    color: white;
    width: 100%;

}

#double-it-title {
    width: 90%;
    padding: 30px 0px;
    font-weight: 600;
    font-family: 'Cabin';
    border: 2px solid white;
    border-radius: 25px;
    background-color: rgba(145, 168, 227, 0.5);
}

#turbo-score {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px 10px;
    height: 150px;
    width: 150px;
    font-size: 3rem;
    border: 2px solid white;
    background-color: rgba(95, 34, 1, 0.9);
    border-radius: 50%;
}

.theme-link.active {
    background-color: rgba(131, 2, 54, 0.7);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top-right-radius: 20%;
    color: white;
}

#double-it-or-nothing-div {
    width: 100;
    height: 250px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    min-height: 90px;
    font-weight: 600;
    font-size: 2rem;
}

/*exit button*/
.exit-game-button {
    display: flex;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.high-scores-container h1,
.high-scores-container ul,
.high-scores-container .form-container,
.high-scores-container #exit-save-game-button {
    margin-bottom: 100px;
    /* Add margin between elements for better spacing */
}

.save-score-title {
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    margin-top: 20px;
    background-color: rgba(15, 57, 162, 0.6);
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.high-scores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5px;
}

#exit-game-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1028px;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    opacity: 1;
    z-index: 1;
    background: url('../images/welcome-bck.jpg') no-repeat center center/cover;
}

#exit-save-game-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.userename-id {
    font-size: 1rem;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

#score-form {

    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    margin-top: 20px;
    background-color: rgba(15, 57, 162, 0.6);
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#save-game-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#high-score-list {
    list-style: none;
    padding: 0;
    color: white;
    font-family: 'Acme';
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1.6rem;
    border: 1px solid white;
    background-color: rgba(15, 57, 162, 0.7);
    max-height: 430px;
    overflow-y: scroll;
    padding: 10px;
}

#control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/*welcome section*/

#welcome-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background: url('../images/welcome-bck.jpg') no-repeat center center/cover;
    color: #fff;
    /* Set your text color */
}

.welcome-container {
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#welcome-container img {
    object-fit: cover;

    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.9);
}

#welcome-container h2 {
    text-align: center;
    display: flex;
    color: white;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: 'Acme';
    margin: 5px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 0 rgba(123, 232, 111, 3px);
    background-color: rgba(1, 15, 52, 0.8);
}

#icons-dash-container {
    height: 300px;
    margin: 0px;
    text-align: center;
}

#highscore {
    display: flex;
    flex: 1;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 45%;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid white;
    border-radius: 15px;
}

#rules {
    width: 45%;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex: 1;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
}

#icons-dash-container>div {
    display: inline-block;
}

.icons {

    font-size: 24px;
}

#scrollable-container {
    max-height: 330px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(1, 15, 52, 0.8);
    margin: 5px;
    display: none;
}

#welcome-container h4 {
    text-align: center;
    display: flex;
    font-size: 1rem;
    font-family: 'Acme';
    background-color: rgba(1, 15, 52, 0.8);
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#wrap-div-highscores {
    display: none;
    color: white;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: rgba(110, 1, 1, 0.7);
    height: 100%;


}

#wrap-div-highscores h5 {
    font-size: 2rem;
    color: white;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid white;
    margin: 10px 5px;
    background-color: rgba(30, 0, 0, 0.9);
    margin-bottom: 170px;
}

#exit-welcome-highscore-instruction {

    margin-top: 150px;
}


#high-score-list-dash li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    font-family: 'Acme';
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 25px;
    width: 100%;
    margin: 0 auto;
}

/*popup*/

#popup-container {
    display: none;
    background-color: rgba(237, 21, 21, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;

}

#popup-container p {
    margin-top: 70px;
    margin-bottom: 150px;
    /* Adjusted margin for better spacing */
    color: white;
    font-size: 2rem;
}

#popup-button {
    padding: 10px;
    background: rgba(21, 237, 53, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

#exit-welcome-rules-instruction {
    display: none;
    margin: 0 auto;
}

.score-number {
    margin-right: 10px;
}

.player-name {
    text-align: center;
    flex-grow: 1;
    border-radius: 25px;
    padding: 10px;
    font-size: 2rem;

}

#highscores-dash {
    max-height: 430px;
    overflow-y: scroll;
    padding: 10px;
}

.ripple-button {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(237, 21, 21, 0.7);
    transform: scale(0);
    animation: ripple-animation 0.3s linear;
}

.ripple-button:active .ripple {
    transform: scale(4);
    opacity: 0;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: #cd7f32;
    /* Bronze color */
}

@keyframes ripple-animation {
    to {
        transform: scale(1);
    }
}

/*exitscreen*/

#high-score-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/*footer*/
footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 10px;
   

}

/*animations*/
@keyframes moveAnimation {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(50px, 30px);
    }

    50% {
        transform: translate(-50px, 30px);
    }

    75% {
        transform: translate(50px, -30px);
    }
}

#settings::after {
    content: '';
    /* Hide the content on larger screens */
}





#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
   
    body {
      background-color: lightblue;
    }
  }
/* Tablet layout */
@media screen and (min-width: 768px) {


    #settings i {
        display: none;
        /* Make the icon invisible on larger screens */
        margin-left: 5px;
        /* Adjust the icon spacing if needed */
    }

    #settings::after {
        content: 'SETTINGS';
        /* Set the content for smaller screens */
        display: inline-block;
        /* Display the content by default */
    }

    .hs-icon {
        height: 180px;
        width: 180px;
    }

    .number-container-class {
        width: 150px;
        height: 250px;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        align-items: center;
        border-radius: 15px;
        font-size: 2rem;
    }

    #confirmation-section h2 {
        background-color: #fff;
        padding: 33px;
        border-radius: 25px;
        color: white;
        font-size: 2rem;
        border: 2px solid white;
        margin: 30px 170px;
        background-color: rgba(214, 8, 101, 0.3);
    }

    #confirmation-contianer-div p {
        font-weight: 600;
        font-size: 2rem;
        margin: 10px 91px;
        color: white;
        padding: 18px;
        border-radius: 25px;
        border: 2px solid white;
        background-color: rgba(214, 8, 101, 0.3);
        border-radius: 15px;
    }

    #icon-one {
        font-size: 5rem;
    }

    #icon-two {
        font-size: 5rem;
    }

}

/* Laptop layout */
@media screen and (min-width: 1024px) {


    #playground-section .higher-lower-title {
        padding: 5px;
        margin: 20px;
        font-size: 2rem;
    }

    .hs-icon {
        height: 220px;
        width: 220px;
    }

    #playground-section #guessing-number-div {
        width: 200px;
        height: 200px;
        font-size: 3rem;
    }

    #icon-one {
        font-size: 5rem;
    }

    #icon-two {
        font-size: 5rem;
    }

    .number-container-class {
        width: 180px;
        height: 290px;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        align-items: center;
        border-radius: 15px;
        font-size: 2rem;
    }

    #playground-section #buttons-container-div #plus-button {
        width: 120px;
        height: 120px;
        font-size: 3rem;
    }

    #playground-section #buttons-container-div #minus-button {
        width: 120px;
        height: 120px;
        font-size: 3rem;
    }

    #score-board-div #color-scoreboard-div #answer-text {

        padding: 20px;
    }

    #score-board-div #score-screen-number-div {
        width: 70px;
        height: 70px;
    }


}