/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&family=Pirata+One&family=Roboto&family=Rowdies:wght@300;400;700&family=Squada+One&family=Vina+Sans&display=swap');

/*CREDITS
<a href="https://www.freepik.com/free-ai-image/3d-rendering-abstract-black-white-background_75957971.htm#fromView=search&term=infinite&track=ais_ai_generated&regularType=ai&page=5&position=22&uuid=00297804-a0fe-4b40-b53b-c56fec93f20d">Image By freepik</a>
Video by <a href="https://pixabay.com/users/engin_akyurt-3656355/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=22098">Engin Akyurt</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=22098">Pixabay</a>
Video by <a href="https://pixabay.com/users/nasa-imagery-10/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=5">NASA-Imagery</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=5">Pixabay</a>
Video by <a href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=6044">Tomislav Jakupec</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=6044">Pixabay</a>
<a href="https://www.freepik.com/icon/internet-computer_7505387#fromView=search&term=favicon+for+infinite&track=ais&page=1&position=95&uuid=d4902875-4138-447a-aed5-7c3a02d8a4ab">Icon by Sagarkumar Gopani</a>
<a href="https://www.freepik.com/free-ai-image/digital-art-moon-wallpaper_77361117.htm#fromView=search&term=space&track=ais_ai_generated&regularType=ai&page=1&position=14&uuid=d0b6b864-e71e-4b36-88a9-16944037134d">Image By freepik</a>
<a href="https://www.freepik.com/free-ai-image/view-mushrooms-nature_65150701.htm#fromView=search&term=fairy&track=ais_ai_generated&regularType=ai&page=1&position=49&uuid=70013e58-58b3-4423-afc6-7ddd403d05bf">Image By freepik</a>
<a href="https://www.freepik.com/free-ai-image/beautiful-flowers-field_65640067.htm#fromView=search&term=flower+field&track=ais_ai_generated&regularType=ai&page=1&position=20&uuid=fa83d380-a421-4cc6-88fd-86ddc844081d">Image By freepik</a>
https://freesound.org/people/Swedger/sounds/522045/
*/


/* General styles */

html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
    background: url('../images/body-background.jpg') no-repeat center center/cover;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Main */

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-height: 100vh;

}

.fit-to-screen-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 64.5em;
    margin: 0;
}

/*HEADER*/

header {
    display: flex;
    justify-content: center;

    color: white;
    background-color: rgba(243, 244, 247, 1);

}

.title {
    font-family: 'Lilita One', sans-serif;
    font-size: 2.5rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 15, 54, 0.9);
    margin: 5px 10px;
    font-family: 'Oswald';
    font-weight: 600;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
}

/*PLAYGROUND SECTION*/
#playground-section {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 100%;
    margin: 0px;
    overflow: hidden;
    max-height: 100%;
    position: relative;
    background: url('../images/default-main-background.jpg') no-repeat center center/cover;
}

#timer {
    font-size: 24px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    display: none;
    display: flex;
    align-self: center;
}

.message-text {
    font-weight: 800;
    margin: 10px;
    font-size: 1.2rem;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 25px;
    border: 2px solid gold;
    color: white;
    width: 90%;
}

#mystery-message-id {
    position: absolute;
    z-index: 1;
    display: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    width: 91%;

}

#message-container {
    justify-content: center;
    display: flex;
}

#guessing-mystery-container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 3em;
    font-size: 3rem;
    width: 3em;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 16px rgba(237, 232, 232, 0.5);
    border-radius: 50%;
    overflow: hidden;
    animation: moveAnimation 8s infinite linear alternate;
}

#guessing-number-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 3em;
    font-size: 3rem;
    width: 3em;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 16px rgba(237, 232, 232, 0.5);
    border-radius: 50%;
    overflow: hidden;


}

#guessed-number {
    position: absolute;
    z-index: 1;
    display: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    width: 91%;
    padding: 0px;
    z-index: 1;
    line-height: 100px;
    text-align: center;
}

#mystery-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    display: none;
    color: red;
    font-family: 'Acme';
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    z-index: 1;
    line-height: 100px;
    text-align: center;
}

#mystery-number::before {
    content: '?';
    font-size: 2em;

}


#buttons-container-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 1em;
    margin: 1em;
    border: 3px solid gold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
}

#minus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 80px;
    border-radius: 50%;
    border: 3px solid gainsboro;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(241, 5, 5);
    color: rgb(244, 244, 244);
    font-size: 1.5rem;
    cursor: pointer;

}

#plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 80px;
    border-radius: 50%;
    border: 3px solid gainsboro;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(2, 158, 2);
    color: rgb(244, 244, 244);
    font-size: 1.5rem;
    cursor: pointer;
}

#right-wrong-text-with-video {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    border: 3px solid #ccc;
    background-color: rgba(244, 245, 240, 0.8);
    position: relative;
    overflow: hidden;
}

#video-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#score-board-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#right-wrong-text {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

#score-screen-number-div {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.5rem;
    border: 1px solid white;
    background-color: red;
}

#score-screen-number-div h3 {
    color: white;
    font-size: 1.7rem;
}

#answer-text {
    padding: 5px;
    margin: 10px;
    background-color: rgb(2, 158, 2);
    color: white;
    font-family: 'Acme', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

#score-text {
    color: rgb(0, 0, 0);
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    width: 3rem;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/* SOUND CONTROL AND QUIT&SAVE*/
#sound-control .dropdown-content {
    display: none;
    margin-top: 35px;
    margin-right: 40px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: rgba(15, 57, 162, 0.3);
    padding: 2px;
    color: white;
}

#sound-control .dropdown-content button {
    display: block;

    text-align: left;
}

#sound-control.active .dropdown-content {
    display: block;
}

#sound-control {
    justify-content: center;
    align-self: flex-end;
    margin-top: 5px;
    display: flex;
    width: 20%;
    flex-direction: row;

}

#sound {
    justify-content: center;
    align-self: center;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.dropdown-theme-title {
    background-color: rgba(0, 94, 255, 0.9);
    border: 1px solid gold;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
}

#music-on-off i {

    font-size: 1rem;
    color: red;

}

#sound-on-off {

    margin: 5px 0px
}

#sound-on-off i {

    font-size: 1rem;
    color: red;

}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.dropdown button {
    color: #3498db;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;


}

.theme-link {
    margin-right: 10px;
    text-decoration: none;

}

/*styles for the 'active' class */
.theme-link.active {
    color: white;
}

/*dropdown styles*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.theme-div {
    background-color: rgba(255, 0, 0, 0.4);
}

.dropdown button {
    color: #3498db;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}



.dropdown-content a {
    color: white;
    font-weight: 600;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Challenge screen*/

#accept-challenge-section {
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(253, 251, 251, 0.8);

}

#acceptance-container-div {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#acceptance-container-div p {
    font-weight: 600;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    color: white;
    padding: 10px;
    max-width: 20em;
    width: 80%;
    border-radius: 25px;
    color: black;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154);
    background-color: rgba(253, 251, 251, 1);
}

#accept-button {
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
}

#decline-button {
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
}

.accept-button-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: calc(50% + 70%);
    width: 100%;
}

#double-score-offer {
    font-size: 1.2em;
    color: red;
}

#current-score-offer {
    font-size: 1.2em;
    color: red;
}


#accept-challenge-section h2 {
    padding: 5px;
    border-radius: 25px;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    color: black;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.65);
    border: 0.3rem solid rgb(155, 154, 154);
    background-color: rgba(253, 251, 251, 1);
}

#challenge-offer-container {
    padding-top: 2em;
}

.accept-decline-buttons {
    width: 40%;
    margin: 0 2em;
    color: black;
    background-color: rgba(253, 251, 251, 0.8);
    box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
    border: 0.3rem solid rgb(155, 154, 154);
}

#challenge {
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    opacity: 1;
    z-index: 3;
    background-color: rgba(253, 251, 251, 0.9);

}

#choose-title-container {
    border: 0.5rem solid rgb(255, 255, 255);
    margin: auto;
    border-radius: 5px;
    width: 90%;
}

#challenge h2 {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    z-index: 1;
    text-align: center;
    color: black;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.8);
    border: 0.5rem solid rgb(0, 0, 0);
    background-color: rgba(10, 1, 1, 0.8);
}

#number-container-challenge {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;

}

.number-container-class {
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
    border-radius: 15px;
    font-size: 2rem;
}

#option-one-background {
    box-shadow: 0 8px 1rem rgba(23, 23, 0, 0.5);

}

#option-two-background {
    box-shadow: 0 8px 1rem rgba(23, 23, 0, 0.5);

}

#option-one-number {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 3rem;
    color: white;
    display: none;

}

#option-two-number {
    display: none;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 3rem;
    color: white;
}

#challenge-score-display {
    color: white;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    z-index: 3;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    display: none;
    background-color: rgba(253, 251, 251, 0.9);
}

#challenge-score-display h3 {
    border-radius: 1rem;
    margin: 35% 0.5rem 0;
    color: black;
    font-family: 'Acme';
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: rgba(253, 251, 251, 0.8);
    box-shadow: 0 8px 1rem rgba(5, 0, 0, 0.3);
    border: 0.2rem solid rgb(155, 154, 154);
}


#challenge-guess-result-message {
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid white;
    margin: 5px;
    margin-top: 30%;
    box-shadow: 0 8px 1rem rgba(5, 0, 0, 0.3);

}

#challenge-button-close {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    padding: 15px 35px;
    color: black;
    background-color: rgba(253, 251, 251, 0.8);
    box-shadow: 0 8px 1rem rgba(5, 0, 0, 0.3);
    border: 0.2rem solid rgb(155, 154, 154);
}


/*Bonus section*/
#turbo-bonus-screen-section {
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    background-color: rgba(253, 251, 251, 0.7);

}

#turbo-bonus-rules-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(253, 251, 251, 0.7);

}

#exit-turbo-bonus-section {
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    z-index: 3;
    background-color: rgba(253, 251, 251, 0.8);
    border-radius: 25px;
    color: black;


}


#exit-turbo-bonus-section div h5 {
    padding: 10px;
    background-color: rgba(95, 34, 1, 0.9);
    border-radius: 15px;
    border: 2px solid white;
    font-size: 1.1rem;
    background-color: rgba(253, 251, 251, 0.8);
    border-radius: 25px;
    color: black;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154);

}

#exit-turbo-bonus-section div h2 {
    padding: 5px 10px;
    background-color: rgba(253, 251, 251, 0.8);
    border-radius: 25px;
    color: black;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154);


}

.turbo-score-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: rgba(253, 251, 251, 0.5);
    border-radius: 25px;
    color: black;
}

#turbo-score-content h2 {
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);

}

#title-bonus-container {
    margin: 1rem auto;
    font-family: 'Cabin';
    border-radius: 25px;
    border: 0.3rem solid rgb(155, 154, 154);
    background-color: rgba(253, 251, 251, 0.8);
    color: black;
    padding: 0.6rem;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    display: flex;
    justify-content: center;
    position: fixed;
    top: calc(50% - 30%);
}



#turbo-score {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 3em;
    font-family: 'Acme';
    width: 3em;
    font-size: 2rem;
    background-color: rgba(253, 251, 251, 0.8);
    color: black;
    border: 0.3rem solid rgb(155, 154, 154);
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border-radius: 50%;
}

#exit-turbo-button {
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
}

.theme-link.active {
    background-color: rgba(131, 2, 54, 0.7);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top-right-radius: 20%;
    color: white;
}

#turbo-bonus-rules-screen {
    font-weight: 600;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 3em;
    width: 90%;
    padding: 1rem;
    border-radius: 25px;
    border: 0.3rem solid rgb(155, 154, 154);
    background-color: rgba(253, 251, 251, 0.8);
    color: black;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
}

#start-turbo-bonus-game-button {
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);

}

/*exit button*/
.exit-game-button {
    display: flex;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

#save-game-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: black;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154);
    background-color: rgba(253, 251, 251, 0.1);
}

.high-scores-container h1,
.high-scores-container,
.high-scores-container {
    margin-bottom: 1em;
    font-size: 2rem;
    color: black;

}


.save-score-title {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 1rem;
    border-radius: 25px;
    margin-top: 0vh;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154);
    background-color: rgba(253, 251, 251, 0.8);
}

.best-score-title {
    padding-bottom: 1rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.high-scores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5px;
}


.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

#save-game-screen-section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    opacity: 1;
    z-index: 3;
    background: url('../images/welcome-background.jpg') no-repeat center center/cover;
}

#exit-save-game-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

h1 {
    font-size: 24px;
    color: #333;
    display: flex;
    justify-content: center;
}

#score-form {

    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(253, 251, 251, 0.8);
    border-radius: 25px;
    color: black;
    border: 0.3rem solid rgb(155, 154, 154);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#control-container h6 {
    display: none;
}

/*welcome section*/
#welcome-screen-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    background: url('../images/welcome-background.jpg') no-repeat center center/cover;
    color: #fff;
}

.welcome-container {
    text-align: center;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(253, 251, 251, 0.8);
    box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
    border: 0.3rem solid rgb(155, 154, 154);
}

#welcome-container img {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.9);
}

#welcome-container h2 {
    text-align: center;
    display: flex;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: 'Acme';
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    flex-direction: column;
    color: black;
    background-color: rgba(253, 251, 251, 0.8);
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154);
}

#start-game-button {
    margin-bottom: 5rem;
    width: 9em;
    margin: 0 auto;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);


}

#icons-for-welcome-screen-container {
    margin: 0px;
    text-align: center;
}

.dashboard-icons-class {
    height: 4em;
    width: 4em;
}

#highscore-button-container {
    display: flex;
    flex: 1;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 45%;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);

}

#rules-button-container {
    width: 45%;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex: 1;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);

}

#icons-for-welcome-screen-container>div {
    display: inline-block;
}

.icons {
    font-size: 24px;
}

#welcome-rules-screen {
    display: none;
    padding: 20px;
    z-index: 3;
}

#welcome-rules-screen h5 {
    font-size: 2rem;
    color: black;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid white;
    margin: 10px 5px;
    background-color: rgba(253, 251, 251, 0.8);
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154)
}

#rules-container {
    height: 8em;
    max-height: 14em;
    overflow-y: scroll;
    font-size: 1.3rem;
    text-align: center;
    color: black;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid white;
    margin: 10px 5px;
    background-color: rgba(253, 251, 251, 0.8);
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154)
}

#welcome-container h4 {
    text-align: center;
    display: flex;
    font-size: 1rem;
    font-family: 'Acme';
    background-color: rgba(1, 15, 52, 0.8);
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}


#welcome-highscore-screen {
    display: none;
    padding: 20px;
    z-index: 3;
}

#welcome-highscore-screen h5 {
    font-size: 1.7rem;
    color: black;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid white;
    margin: 10px 5px;
    background-color: rgba(253, 251, 251, 0.8);
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    border: 0.3rem solid rgb(155, 154, 154)
}

#exit-welcome-highscore {
    margin-top: 2em;
    color: black;
    background-color: rgba(253, 251, 251, 0.8);
    box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
    border: 0.3rem solid rgb(155, 154, 154);
}

/*popup*/

#popup-container {
    display: none;
    background-color: rgba(252, 250, 250, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#popup-content {
    border: 2px solid #333;
    background-color: rgba(237, 21, 21, 0);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18em;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    height: 18em;

}

#popup-container p {
    margin-top: 3rem;
    color: black;
    font-weight: 600;
    font-size: 2rem;
}

#popup-button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: rgba(21, 237, 53, 0);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(132, 0, 0, 0.2);
    width: 3em;
}

#exit-welcome-rules {
    display: none;
    margin: 0 auto;
    color: black;
    background-color: rgba(253, 251, 251, 0.8);
    box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
    border: 0.3rem solid rgb(155, 154, 154);
}

.score-number {
    margin-right: 10px;
}

#best-score-paragraph {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
    font-weight: 700;
    background-color: #cd7f32;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 0.3rem solid white;
    align-items: center;
    border-radius: 50%;
}

#the-best-score-dashboard {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: black;
    font-weight: 700;
    width: 2em;
    height: 2em;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(253, 251, 251, 0.8);
    box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
    border: 0.3rem solid rgb(155, 154, 154);


}

#highscores-dashboard {
    max-height: 430px;
    overflow-y: scroll;
    padding: 10px;
}

.ripple-button {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(237, 21, 21, 0.7);
    transform: scale(0);
    animation: ripple-animation 0.3s linear;
}

.ripple-button:active .ripple {
    transform: scale(4);
    opacity: 0;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: #cd7f32;
}

@keyframes ripple-animation {
    to {
        transform: scale(1);
    }
}

/*exitscreen*/

#high-score-paragraph {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
    font-weight: 700;
    background-color: black;
    width: 1em;
    height: 1em;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1rem;
    border: 0.3rem solid white;
    align-items: center;
    border-radius: 50%;


}

/*footer*/
footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 10px;


}

/*animations*/
@keyframes moveAnimation {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(2em, 0.5em);
    }

    50% {
        transform: translate(-2em, 0.5em);
    }

    75% {
        transform: translate(1.5em, 0.5em);
    }

}

#settings::after {
    content: '';

}


@keyframes fadeOut {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 5s ease-in-out forwards;
    opacity: 1;
    cursor: pointer;
}


#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* Tablet layout */
@media screen and (min-width: 768px) {
    #score-text {
        color: rgb(0, 0, 0);
        font-family: 'Acme', sans-serif;
        font-weight: 500;
        font-size: 1.7rem;
        border: 3px solid rgb(0, 0, 0);
        background-color: white;
        width: 4rem;

    }

    #welcome-container h2 {
        width: 50%;
        font-size: 2rem;
    }

    #welcome-rules-screen {
        display: none;
        padding: 20px;
        z-index: 3;
    }

    #welcome-rules-screen h5 {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #exit-welcome-rules {
        margin-top: 2rem;
    }

    #rules-container {
        width: 80%;
        height: 55%;
        margin: 0 auto;

    }

    #welcome-highscore-screen h5 {
        width: 40%;
        margin: 0 auto;
        border-radius: 50px;
    }

    .challenge-rules {
        border-radius: 25px;
        color: black;
        margin: 25% auto 1em;
        width: 50%;
        height: 5em;
        font-family: 'Acme';
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.7);
    }

    #challenge-score-display h3 {
        border-radius: 1rem;
        margin: 20% 0.5rem 0;

    }


    #challenge-guess-result-message {
        width: 70%;
        margin: 0 auto;
        margin-top: 20%;
    }

    #challenge-button-close {
        bottom: 15%;
    }

    #right-wrong-text-with-video {
        display: flex;
        align-items: center;
        padding: 3.5em 0px;
        border: 3px solid #ccc;
        background-color: rgba(244, 245, 240, 0.8);
        position: relative;
        overflow: hidden;
    }

    #buttons-container-div {
        padding: 2em 1em;
        margin: 2em 5em;

    }

    #settings i {
        display: none;
        margin-left: 5px;
    }

    #settings::after {
        content: 'SETTINGS';
        display: inline-block;
    }

    .dashboard-icons-class {
        height: 180px;
        width: 180px;
    }

    .number-container-class {
        width: 150px;
        height: 250px;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        align-items: center;
        border-radius: 15px;
        font-size: 2rem;
    }

    #score-screen-number-div {
        width: 8em;
        height: 2.5em;
    }

    #accept-challenge-section h2 {
        padding: 1rem;
        border-radius: 25px;
        color: white;
        font-size: 2rem;
        text-align: center;
        margin: 2rem 5em;
        color: black;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.8);
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*accept or decline challenge buttons*/
    .accept-decline-buttons {
        width: 20%;
        color: black;
        background-color: rgba(253, 251, 251, 0.8);
        box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
        border: 0.3rem solid rgb(155, 154, 154);
    }

    /*accept challenge offer text*/
    #acceptance-container-div p {
        font-weight: 600;
        font-size: 2rem;
        margin: 1.4em 2em;
        padding: 1rem;
        border-radius: 25px;
        border-radius: 15px;
        color: black;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.8);
    }

    #icon-one {
        font-size: 5rem;
    }

    #icon-two {
        font-size: 5rem;
    }
    #right-wrong-text {
       
    }


}

@media screen and (max-width: 1000px)and (max-height: 500px) and (orientation: landscape) {

    header {
        justify-content: space-between;
        padding: 10px 20px;
        position: fixed;
        width: 100%;
        top: 0;
        height: 3em;
        background-color: rgba(243, 244, 247, 1);
        z-index: 1000;
    }

    .title {
        font-size: 2rem;
        margin: 0 auto;
        margin-top: 0;
    }

    /* Main */
    main {
        flex: 1;
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    #highscore-button-container {
        width: 20%;

    }

    #rules-button-container {
        width: 20%;
        margin: 20px;

    }

    .dashboard-icons-class {
        height: 2em;
        width: 2em;
    }

    #highscore-button-container h4 {
        font-size: 0.7rem;
        width: 50%;
        margin: 0 auto;
        margin-top: 3em;
        margin-bottom: -2em;
    }

    #welcome-rules-screen h5 {
        font-size: 1rem;
        padding: 0.5rem;
        margin-top: 5em;
    }

    #welcome-highscore-screen h5 {
        font-size: 1.5rem;
        padding: 0.5rem;
        margin-top: 1em;
    }

    #start-game-button {

        width: 9em;
        margin: 0 auto;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    }

    #welcome-screen-section h2 {
        font-size: 1.5rem;
        margin-top: 4em;
        display: none;
    }

    #the-best-score-dashboard {
        font-size: 3rem;
        
    }

    #rules-container {
        width: 100%;
        height: 35%;

    }

  

   .best-score-title{
    width: 30%;
    margin:0 auto;
   }

   #popup-button{
    left: 47%;
   }

   #score-form{
    width: 100%;
    height: 100%;
    margin-top: 2.3em;
    background-color: rgba(253, 251, 251, 0.9);
   }

   .save-score-title{
    font-size: 2rem;
    padding: 0 0.7rem ;
   }
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
      

}
    #rules-button-container h4 {
        font-size: 0.7rem;
        width: 50%;
        margin: 0 auto;
        margin-top: 3em;
        margin-bottom: -2em;
    }

    #exit-welcome-rules{
    margin-top: 0rem;
        margin-bottom: -5em;
    }

    /* Wrap Container */
    .fit-to-screen-container {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #right-wrong-text-with-video {
        height: 1em;
        width: 100%;
        align-items: center;
    }

    #video-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #right-wrong-text {
        position: absolute;
       
        transform: translate(-50%, 0%);
    }
#video-header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    /* Playground Section */
    #playground-section {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        position: relative;
    }

    #score-screen-number-div {
        display: flex;
        margin-top: 5px;
        font-size: 1rem;
        border: 1px solid white;
        background-color: red;
    }

    #score-screen-number-div h3 {
        font-size: 1rem;
    }

    #score-text {
        font-size: 1rem;
    }

    #playground-section .message-text {
        padding: 5px;
        font-size: 1rem;
        width: 40%;
        margin: 0 auto;
    }

    #buttons-container-div {
        position: fixed;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        background: none;
        background-color: rgba(0, 0, 0, 0);
        /* Black background with no transparency */
        border: none;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
    }

    #acceptance-container-div p {
        margin: 0em auto;
        padding: 1rem;
        font-size: 2rem;
        background-color: rgba(253, 251, 251, 0.9);
        border-radius: 25px;
    }

    #minus-button {
        position: absolute;
        left: 0;
        width: 1.5em;
        height: 1.5em;
        font-size: 3rem;
    }

    #plus-button {
        position: absolute;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        font-size: 3rem;
    }

    .challenge-title-class {
        color: white;

    }

    #choose-title-container {
        border: 0.5rem solid rgb(255, 255, 255);
        margin: auto;
        border-radius: 5px;
        width: 40%;
    }

    #challenge h2 {
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 5px;
    }

    #number-container-challenge {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        height: 100%;
    }

    .number-container-class {
        width: 4em;
        height: 6em;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        align-items: center;
        border-radius: 15px;
        font-size: 2rem;
        margin-bottom: 5em;
    }

    #option-one-background {
        left: 0;
    }

    #playground-section #guessing-number-div {

        width: 2em;
        height: 2em;
        font-size: 3rem;

    }

    #guessing-mystery-container {
        height: 2em;
        width: 2em;
        border: 0.1em solid rgb(255, 255, 255);
    }

    #mystery-number::before {
        content: '?';
        font-size: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    #mystery-message-id {
        position: absolute;
        z-index: 1;
        display: none;
        text-align: center;
        background-color: rgba(0, 0, 0, 1);
        width: 91%;
        translate: 0px -20%;
    }

    #accept-challenge-section {
        color: white;
        display: none;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        position: absolute;
        z-index: 3;
        background-color: rgba(253, 251, 251, 0.8);

    }

    #challenge-score-display h3 {
        border-radius: 1rem;
        margin: 9% 40px 0;
    }

    #challenge-button-close {
        font-size: 1rem;
        padding: 1rem;
    }

    #challenge-guess-result-message {
        padding: 10px;
        margin-top: 1rem;
        width: 50%;
    }

    #title-bonus-container {
        margin: 1em;
        font-family: 'Cabin';
        border: 2px solid white;
        background-color: rgba(15, 57, 162, 0.5);
        color: white;
        padding: 1rem;
        font-size: 2em;
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.8);
        color: black;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    }

    #title-bonus-container {
        padding: 0.4rem;
        font-size: 0.7rem;
        margin-top: 4em;
    }

    #turbo-bonus-rules-screen {
        font-size: 1.2rem;
        margin: 0 auto;
        margin-top: 4em;
        width: 40%;
        padding: 0.5rem;
        border-radius: 25px;

    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;

    }

    @keyframes moveAnimation {

        0%,
        100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(1em, 0.2em);
        }

        50% {
            transform: translate(-1em, 0.2em);
        }

        75% {
            transform: translate(1em, 0.2em);
        }

    }
}

/* Laptop layout */
@media screen and (min-width: 1024px) {

    #welcome-highscore-screen h5 {
        width: 30%;
        margin: 0 auto;
        font-size: 2rem;
        padding: 0.5rem;
    }

    #welcome-container h2 {
        width: 40%;
        font-size: 2.3rem;
    }

    #welcome-container h4 {
        font-size: 2rem;
        width: 70%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    #highscore-button-container,
    #rules-button-container {
        width: 30%;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid white;
    }

    .challenge-rules {
        border-radius: 25px;
        color: black;
        margin: 15% auto 1em;
        width: 40%;
        font-family: 'Acme';
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.7);
    }

    #challenge-score-display h3 {
        border-radius: 1rem;
        margin: 15% 15rem 0;
    }

    #challenge-guess-result-message {
        width: 70%;
        margin: 0 auto;
        margin-top: 15%;
    }

    #challenge-button-close {
        bottom: 15%;
    }

    #playground-section .message-text {
        padding: 5px;
        margin: 20px;
        font-size: 2rem;
        width: 70%;
        margin: 0 auto;
    }

    .dashboard-icons-class {
        height: 220px;
        width: 220px;
    }

    #playground-section #guessing-number-div {

        width: 3em;
        height: 3em;
        font-size: 4rem;

    }

    #guessing-mystery-container {
        height: 3em;
        width: 3em;
        border: 0.1em solid rgb(255, 255, 255);
    }

    #icon-one {
        font-size: 5rem;
    }

    #icon-two {
        font-size: 5rem;
    }

    #buttons-container-div {
        display: flex;
        width: 70%;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 10px;
        border: 3px solid gold;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.5);
    }

    #score-text {
        padding: 5px;
        color: white;
        font-family: 'Acme', sans-serif;
        font-weight: 500;
        padding: 5px;
        font-size: 1.5rem;
        transform: translateZ(-100px);
        transition: transform 0.5s ease-in-out;
    }

    .number-container-class {
        width: 180px;
        height: 290px;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        align-items: center;
        border-radius: 15px;
        font-size: 2rem;
    }

    #plus-button {
        width: 3em;
        height: 3em;
        font-size: 3rem;
    }

    #minus-button {
        width: 3em;
        height: 3em;
        font-size: 3rem;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .challenge-title-class {
        color: white;
        opacity: 0.8;
        border-radius: 25px;
        padding: 0.5em 5em;
        width: 100%;
        margin: 0 auto;
        font-weight: 700;
        font-size: 2rem;
        border: 3px solid white;
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
    }

    #acceptance-container-div p {
        margin: 2em auto;
        padding: 1rem;
        font-size: 2rem;
    }

    .accept-decline-buttons {
        width: 20%;
        color: black;
        background-color: rgba(253, 251, 251, 0.8);
        box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
        border: 0.3rem solid rgb(155, 154, 154);
    }


    #right-wrong-text-with-video #right-wrong-text #answer-text {
        padding: 0.5rem;
    }
    #right-wrong-text {
        
        margin-top: 0em;
 
    }
    #score-screen-number-div {
        width: 8em;
        height: 2.5em;
    }

    #turbo-bonus-rules-screen {
        width: 60%;
    }

}

@media screen and (min-width: 1439px) {
    #welcome-highscore-screen h5 {
        width: 25%;
    }

    #rules-container {
        font-size: 1.7rem;
        max-height: 15em;
        height: 11.5em;
        width: 60%;
    }
}

@media screen and (min-width: 1801px) {


    #playground-section .message-text {
        padding: 5px;
        margin: 20px;
        font-size: 3em;
        width: 70%;
        margin: 0 auto;
        padding: 2rem;

    }

    .dashboard-icons-class {
        height: 220px;
        width: 220px;
    }

    #playground-section #guessing-number-div {
        width: 4em;
        height: 4em;
        font-size: 4rem;
    }

    #mystery-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%;
        display: none;
        color: red;
        font-family: 'Acme';
        font-size: 5rem;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        z-index: 1;
        line-height: 190%;
        text-align: center;
    }

    #acceptance-container-div p {
        margin: 8rem auto;
        padding: 1em;
        font-size: 2.5rem;
    }

    #playground-section #guessing-number-div {

        width: 5em;
        height: 5em;
        font-size: 4rem;

    }

    #guessing-mystery-container {
        height: 5em;
        width: 5em;
        border: 0.15em solid rgb(255, 255, 255);
    }

    .message-text {
        font-weight: 800;
        margin: 10px;
        font-size: 1rem;
        padding: 20px 10px;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 0, 0, 0.7);
        border-radius: 25px;
        border: 2px solid gold;
        color: white;
        width: 90%;
    }

    #icon-one {
        font-size: 5rem;
    }

    #icon-two {
        font-size: 5rem;
    }

    #buttons-container-div {
        display: flex;
        width: 70%;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 10px;
        border: 3px solid gold;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .number-container-class {
        width: 180px;
        height: 290px;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        align-items: center;
        border-radius: 15px;
        font-size: 2rem;
    }

    button {
        padding: 10px 20px;
        font-size: 2rem;
        color: white;
        background-color: rgba(0, 15, 54, 0.9);
        margin: 5px 10px;
        font-family: 'Oswald';
        font-weight: 600;
        border: 2px solid white;
        border-radius: 30px;
        cursor: pointer;
    }

    .exit-game-button {

        font-size: 2em;

    }

    #playground-section #buttons-container-div #plus-button {
        width: 4em;
        height: 4em;
        font-size: 3rem;
    }

    #playground-section #buttons-container-div #minus-button {
        width: 4em;
        height: 4em;
        font-size: 3rem;
    }

    #right-wrong-text-with-video #right-wrong-text #answer-text {

        padding: 20px;
    }

    #score-screen-number-div {
        width: 70px;
        height: 70px;
    }

    #score-text {
        font-size: 3rem;

    }

    #number-container-challenge {
        display: flex;
        align-items: center;
    }

    #score-screen-number-div {
        display: flex;
        width: 7em;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        align-self: center;
        font-size: 2.5rem;
        border: 1px solid white;
        background-color: red;
    }

    /*footer*/
    footer {
        background-color: white;
        color: #333;
        text-align: center;
        padding: 10px;
        font-size: 2rem;

    }

}

@media screen and (min-width: 2225px) {
    #score-text {
        font-size: 2rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #score-screen-number-div h3 {
        color: white;
        font-size: 2.7rem;
    }

    #playground-section #guessing-number-div {
        width: 6em;
        height: 6em;
        font-size: 6rem;
    }

    #guessing-mystery-container {
        height: 6em;
        width: 6em;
        border: 0.15em solid rgb(255, 255, 255);
    }

    #mystery-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%;
        line-height: 300%;
        display: none;
        color: red;
        font-family: 'Acme';
        font-size: 4rem;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        z-index: 1;

    }

    #title-bonus-container {
        margin: 1em;
        font-family: 'Cabin';
        border: 2px solid white;
        background-color: rgba(15, 57, 162, 0.5);
        color: white;
        padding: 1rem;
        font-size: 2em;
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.8);
        color: black;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
    }

    #turbo-bonus-rules-screen {
        width: 90%;
        font-size: 3rem;
    }


    #exit-turbo-bonus-section div h5 {
        font-size: 3rem;
    }

    #turbo-score {

        height: 4em;
        width: 4em;
        font-size: 4rem;

    }

    #exit-turbo-bonus-section div h2 {
        padding: 2rem;
        background-color: rgba(253, 251, 251, 0.8);
        border-radius: 25px;
        color: black;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-size: 3rem;

    }

    #acceptance-container-div p {
        margin: 9em auto;
        padding: 1rem;
        font-size: 3rem;
        border-radius: 25px;
    }

    #accept-challenge-section h2 {
        padding: 1rem;
        font-size: 3rem;
        text-align: center;
        margin: 2rem 3em;
        color: black;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.8);
    }

    #challenge h2 {
        padding: 5px;
        font-size: 7.5rem;
        border-radius: 25px;
        z-index: 1;
        width: 80%;
        margin: 0.5em auto;
        text-align: center;

    }

    .number-container-class {
        width: 9.25em;
        height: 14.125em;
        display: flex;
        justify-content: center;
        border: 3px solid black;
        align-items: center;
        border-radius: 15px;
        font-size: 2rem;
    }

    .accept-decline-buttons {
        width: 10%;
        color: black;
        background-color: rgba(253, 251, 251, 0.8);
        box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
        border: 0.3rem solid rgb(155, 154, 154);
    }

    .accept-button-container {
        display: flex;
        justify-content: center;
        position: fixed;
        top: calc(50% + 50%);
        /* 2em below the center */
        width: 100%;
    }

    .challenge-rules {
        border-radius: 25px;
        color: black;
        margin: 55% auto 1em;
        width: 90%;
        font-family: 'Acme';
        font-size: 4rem;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.7);
    }

    #challenge-action-button {
        padding: 10px 20px;
        font-size: 3rem;
        border-radius: 5px;
        cursor: pointer;
        border-radius: 25px;
        color: black;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.7);
    }

    #best-score-paragraph {
        display: flex;
        justify-content: center;
        font-size: 5rem;
        color: white;
        font-weight: 700;
        background-color: #cd7f32;
        width: 2.5em;
        height: 2.5em;
        text-align: center;
        margin: 0 auto;
        padding: 2rem;
        margin-bottom: 1rem;
        border: 0.5rem solid white;
        align-items: center;
        border-radius: 50%;
    }

    .best-score-title {
        padding-bottom: 1rem;
        color: black;
        font-size: 2rem;
        font-weight: 700;
    }

    .save-score-title {
        margin: 0 auto;
        padding: 20px;
        font-size: 3rem;
        border-radius: 25px;
        margin-top: 20px;
        display: block;
        box-shadow: 0 8px 1rem rgba(52, 51, 0, 0.5);
        border: 0.3rem solid rgb(155, 154, 154);
        background-color: rgba(253, 251, 251, 0.8);
    }

    .high-scores-container h1,
    .high-scores-container ul,
    .high-scores-container,
    .high-scores-container {
        margin-bottom: 1em;
        font-size: 3rem;
        color: black;

    }

    #score-display-container h4 {
        font-size: 3rem;
    }

    #challenge-guess-result-message {
        font-size: 5rem;
        padding: 0rem;
        border-radius: 25px;
        border: 0.5rem solid white;
        margin-top: 50%;

    }

    #challenge-score-display h3 {
        border-radius: 1rem;
        margin: 25% auto 0;
        color: black;
        font-family: 'Acme';
        font-size: 3rem;
        width: 70%;
        padding: 0.5rem;
        background-color: rgba(253, 251, 251, 0.8);
        box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
        border: 0.2rem solid rgb(155, 154, 154);
    }

    #challenge-button-close {
        position: fixed;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3rem;
    }

    .title {
        font-family: 'Lilita One', sans-serif;
        font-size: 5rem;
    }

    #welcome-container h2 {
        font-size: 5rem;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 35px;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    #start-game-button {
        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 9em;
        font-size: 4rem;
        margin: 0 auto;
        border: 0.5rem solid white;
    }

    .welcome-container {
        text-align: center;
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(253, 251, 251, 0.8);
        box-shadow: 0 8px 1rem rgba(252, 252, 252, 0.2);
        border: 0.3rem solid rgb(155, 154, 154);
    }

    #welcome-rules-screen {
        translate: 0% 0%;
    }

    #rules-container {
        font-size: 3rem;
        max-height: 15em;
        height: 11em;
    }

    #rules-screen h5 {
        font-size: 4rem;
        width: 30%;
    }

    #rules-button-container {
        width: 25%;
        margin: 2em;
        border: 0.7rem solid rgb(247, 244, 244);


    }

    .dashboard-icons-class {
        height: 20em;
        width: 20em;
    }

    #welcome-container h4 {
        font-size: 4rem;
        width: 90%;
        margin: 1em auto;
    }

    #highscore-button-container {
        width: 25%;
        border: 0.7rem solid rgb(247, 244, 244);
    }

    #welcome-highscore-screen h5 {
        font-size: 4rem;
        width: 30%;
        margin-bottom: 2em;
        margin: 0 auto;
        border-radius: 50px;
    }

    #highscores-dashboard {
        max-height: 630px;
        align-self: center;
        overflow-y: scroll;
        padding: 10px;
    }

    #the-best-score-dashboard {
        font-size: 8rem;
    }

    #popup-content {
        border: 2px solid #333;
        background-color: rgba(237, 21, 21, 0);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 38em;
        transform: translate(-50%, -50%);
        border-radius: 1em;
        height: 38em;
    }

    #popup-container p {
        margin-top: 9rem;
        color: black;
        font-weight: 600;
        font-size: 4rem;
    }

    #popup-button {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        background: rgba(21, 237, 53, 0);
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(132, 0, 0, 0.2);
        width: 5em;
        height: 3em;
    }


}